Repository microsoft/archai, changes with the owners that CODEOWNERS names for each.
All owners: @gugarosa, @piero2c, @sytelus, @debadeepta, @caiom, @lovettchris

CODEOWNERS:

# This file is used to subscribe for notifications for PRs
# related to specific file paths, does not necessarily mean
# approval is required from these people before merging.
#
# Learn more about CODEOWNERS syntax here:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# Top-level folders
/.github/ @gugarosa @piero2c
/.vscode/ @sytelus
/confs/ @sytelus @debadeepta
/docker/ @gugarosa
/docs/ @gugarosa @piero2c
/scripts/ @sytelus @debadeepta
/tests/ @gugarosa @piero2c

# Archai
/archai/api/ @gugarosa @piero2c
/archai/common/ @sytelus @gugarosa @piero2c
/archai/datasets/ @gugarosa
/archai/discrete_search/ @piero2c
/archai/onnx/ @gugarosa @caiom
/archai/quantization/ @gugarosa @caiom
/archai/supergraph/ @sytelus @debadeepta
/archai/trainers/ @gugarosa

# Research
/research/evaluate_harness @gugarosa
/research/lm_eval_harness @gugarosa

# Tasks
/tasks/face_segmentation @piero2c
/tasks/face_segmentation/aml @lovettchris
/tasks/text_generation @gugarosa

Continued clean up
  tasks/facial_landmark_detection/mobilenetv2.py
  tasks/facial_landmark_detection/nas_landmarks.py
  tasks/facial_landmark_detection/search_space.py
Owners: none

rev the versions.
  .gitignore
  tasks/face_segmentation/aml.py
  tasks/face_segmentation/aml/docker/quantizer/Dockerfile
  tasks/face_segmentation/confs/aml_search.yaml
  tasks/face_segmentation/env.py
Owners: @piero2c, @lovettchris

updates to readme information.
  tasks/face_segmentation/README.md
  tasks/face_segmentation/aml/azure/readme.md
  tasks/face_segmentation/aml/docker/quantizer/readme.md
  tasks/face_segmentation/aml/readme.md
  tasks/face_segmentation/aml/training/readme.md
Owners: @piero2c, @lovettchris

Change file names for clarity
  tasks/facial_landmark_detection/latency.py
  tasks/facial_landmark_detection/model.py
  tasks/facial_landmark_detection/search.py
  tasks/facial_landmark_detection/search_config.yaml
  tasks/facial_landmark_detection/search_space.py
Owners: none

Continued clean up: simply arg names
  tasks/facial_landmark_detection/search.py
  tasks/facial_landmark_detection/search_config.yaml
  tasks/facial_landmark_detection/search_space.py
Owners: none

Adding missed import
  tasks/facial_landmark_detection/latency.py
Owners: none

only inference testing targets are 'cpu' and 'snp', trigger the aml partial training by a different key in the config file.
  tasks/face_segmentation/aml/docker/quantizer/setup.ps1
  tasks/face_segmentation/confs/aml_search.yaml
  tasks/face_segmentation/confs/snp_search.yaml
  tasks/face_segmentation/env.py
  tasks/face_segmentation/search.py
  tasks/face_segmentation/test/test_env.py
Owners: @lovettchris, @piero2c

fix bug in check for complete status.
  archai/common/monitor.py
Owners: @sytelus, @gugarosa, @piero2c

fix bug in check for complete status. (#222)
  archai/common/monitor.py
Owners: @sytelus, @gugarosa, @piero2c

add iteration info
  tasks/face_segmentation/aml.py
  tasks/face_segmentation/aml/training/aml_training_evaluator.py
  tasks/face_segmentation/aml/training/training_pipeline.py
  tasks/face_segmentation/confs/aml_search.yaml
Owners: @piero2c, @lovettchris

new version.
  tasks/face_segmentation/aml.py
  tasks/face_segmentation/confs/aml_search.yaml
Owners: @piero2c

fix ordering of results from AmlPartialTrainingEvaluator
  tasks/face_segmentation/aml/training/aml_training_evaluator.py
Owners: @lovettchris

Continued clean up
  tasks/facial_landmark_detection/dataset.py
  tasks/facial_landmark_detection/latency.py
  tasks/facial_landmark_detection/loss.py
  tasks/facial_landmark_detection/presets.py
Owners: none

Moving code around
  tasks/facial_landmark_detection/dataset.py
  tasks/facial_landmark_detection/presets.py
  tasks/facial_landmark_detection/transforms.py
Owners: none

Remove unused functions
  tasks/facial_landmark_detection/transforms.py
Owners: none

Remove unused code
  tasks/facial_landmark_detection/transforms.py
Owners: none

add retry logic to store to fix issues with tokens timing out after a very long time in long running jobs.
  archai/common/store.py
  tests/common/test_store.py
Owners: @sytelus, @gugarosa, @piero2c

add retry logic to store to fix issues with tokens timing out after a very long time in long running jobs. (#223)
  archai/common/store.py
  tests/common/test_store.py
Owners: @sytelus, @gugarosa, @piero2c

Code simplification
  tasks/facial_landmark_detection/transforms.py
Owners: none

change AML batch size default to 64 for faster training don't store MODEL_STORAGE_CONNECTION_STRING
  tasks/face_segmentation/aml.py
  tasks/face_segmentation/aml/training/training_pipeline.py
  tasks/face_segmentation/confs/aml_search.yaml
Owners: @piero2c, @lovettchris

Fix bug in merge_status_entity, add more unit test coverage
  archai/common/store.py
  tests/common/test_store.py
Owners: @sytelus, @gugarosa, @piero2c

Fix bug in merge_status_entity, add more unit test coverage
  archai/common/store.py
  tests/common/test_store.py
Owners: @sytelus, @gugarosa, @piero2c

Fix bug in merge_status_entity, add more unit test coverage (#224)
  archai/common/store.py
  tests/common/test_store.py
Owners: @sytelus, @gugarosa, @piero2c

new version
  tasks/face_segmentation/aml.py
  tasks/face_segmentation/confs/aml_search.yaml
Owners: @piero2c

Store training time in status table.
  archai/common/monitor.py
  tasks/face_segmentation/confs/aml_search.yaml
  tasks/face_segmentation/train.py
Owners: @sytelus, @gugarosa, @piero2c

improve diagram.
  tasks/face_segmentation/aml/images/snpe.dgml
  tasks/face_segmentation/aml/images/snpe.png
Owners: @lovettchris

simplying code
  tasks/facial_landmark_detection/transforms.py
Owners: none

save iteration in status table.
  tasks/face_segmentation/aml/training/aml_training_evaluator.py
Owners: @lovettchris

Improve transform code
  tasks/facial_landmark_detection/dataset.py
  tasks/facial_landmark_detection/search_config.yaml
  tasks/facial_landmark_detection/transforms.py
Owners: none

Fix some randomness in evolutionary pareto search not coming from given seed. Add unit tests to cover this.
  archai/discrete_search/algos/evolution_pareto.py
  tests/discrete_search/algos/test_evolution_pareto.py
  tests/discrete_search/search_spaces/config/test_config_ss.py
Owners: @piero2c, @gugarosa

Fix some randomness in evolutionary pareto search not coming from given seed. (#225)
  archai/discrete_search/algos/evolution_pareto.py
  tests/discrete_search/algos/test_evolution_pareto.py
  tests/discrete_search/search_spaces/config/test_config_ss.py
Owners: @piero2c, @gugarosa

pick up new version of archai to fix randomness bug in the EvolutionParetoSearch so that these search jobs are restartable.
  tasks/face_segmentation/aml.py
  tasks/face_segmentation/confs/aml_search.yaml
Owners: @piero2c

Finished clean up this file
  tasks/facial_landmark_detection/transforms.py
Owners: none
